header nav{
  display: flex;
  gap:24px;
  padding: 24px;
  color: white;
}
body{
  max-width: 920px;
  margin: 0 auto;
  background-color: rgb(228, 0, 0);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}